<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here is the list of registered users:</h2>
    <ul>
      <% users.forEach(function(user) { %>
        <li> Name: <%= user.first_name %><%= user.last_name %>, Email: <%= user.email %> </li>
      <% }) %>
    </ul>
    </body>
</html>
